/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2017, 12:11:59 AM
    Author     : oscaron
*/
@media (min-width: 1200px) {
/*  .container {
    max-width: 960px;
  }*/
}
.bg-dark-brown {
  background: #66461f!important;
}
.bg-dark-trans {
  background: rgba(150,150,150,0.9);
}
/* footer */
html {
  padding-bottom : 70px;
}
@media (min-width: 768px) {
  html {
    padding-bottom : 100px;
  }
}

@media (min-width: 992px) {
  html{
    padding-bottom : 100px;
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
footer p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 11px;
}

footer .footer_content {
  display: table;
  height: 30px;
}

@media (min-width: 768px) {
  footer .footer_content {
    height: 40px;
  }
}

@media (min-width: 992px) {
  footer .footer_content {
    height: 50px;
  }
}

/* tab */
.header-tab {
  position: relative;
  background-image: url('../images/imageA.jpg');
  min-height: 100px;
}

.header-wrapper {
  display: table;
  width:100%;
  min-height: 100px;
}
.header-tab-page, .header-tab-page .header-wrapper {
  min-height: 40px;
}
@media (min-width: 576px) {
  .header-tab, .header-wrapper  {
    min-height: 150px;
  }
  .header-tab-page, .header-tab-page .header-wrapper {
    min-height: 40px;
  }
}

@media (min-width: 768px) {
  .header-tab, .header-wrapper {
    min-height: 180px;
  }
  .header-tab-page, .header-tab-page .header-wrapper {
    min-height: 60px;
  }
}

@media (min-width: 992px) {
  .header-tab, .header-wrapper {
    min-height: 220px;
  }
  .header-tab-page, .header-tab-page .header-wrapper {
    min-height: 80px;
  }

}
.nav-login {
  float: right;
  color: #FFF;
}
.nav-login a, .nav-login span {
  float: right;
  display: block;
  font-size: 16px;
  line-height: 20px;
}
.nav-login em {
  text-transform: capitalize;
  font-style: normal;
}
.nav-login a {
  color: #f1ca00;
}
.nav-login a.btn-about {
  margin-left: 20px;
}
.nav-login a.btn-logout {
  margin-left: 5px;
  font-size: 14px;
}
.login-error-msg {
  display: block;
  height: 30px;
  color: red;
  font-size: 14px;
  font-weight: bold;
  span {
    display: none;
  }
}
.search-tab {
  display: table-cell;
  vertical-align: bottom;
  border-bottom: none;
}
.search-tab .nav-item {
  width: 20%;
  text-align: center;
  background: gray;
  margin: 0 1px;
  display: inline-block;
  line-height: 1.2;
  font-size: 13px;
}
.search-tab .nav-link {
  padding: 8px 5px;
}
.search-tab .nav-item span {
  font-size: 11px;
    display: block;
    clear: both;
}
@media (min-width: 768px) {
  .search-tab .nav-item {
    font-size: 16px;
  }
  .search-tab .nav-item span {
  font-size: 12px;
  }
  .search-tab .nav-link {
  padding: 8px 16px;
}
}

.search-tab .nav-item.nav-item-wide {
  width: 27%;
}
.search-tab .nav-item a{
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.7);
}
/*page-breadcrumb */
.page-breadcrumb {
  display: table-cell;
  vertical-align: bottom;
  border-bottom: none;
}
.page-breadcrumb .breadcrumb {
  margin-bottom: 10px;
}
.page-breadcrumb .breadcrumb-item {
  font-size: 12px;
  line-height: 20px;
}
.page-breadcrumb .breadcrumb-item.active {
  color: #666e76;
}
.page-breadcrumb .breadcrumb-item.active strong {
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}
/* search panel*/
.tab-pane {
  padding: 40px 10px 20px;
}
.tab-pane.fade {
  position: absolute;
  z-index: -99;
}
.tab-pane.fade.active {
  position: relative;
  z-index: 1;
}
/* form */
.district_selectbox {
  padding: 0;
  float: left;
}
.district_selectbox:first-child {
  padding: 0 10px 0 0;

}
.button_container {
  padding: 0 20px;
  position: relative;
  z-index: 1;
}
.btn-block {
  background: #4e7c31;
  border-color: #155724;
}

.form-check {
  float: left;
  padding-right: 40px;
}

.btn:hover, btn:focus {
  cursor: pointer;
}

/* table list*/
table.table.table-property {
  margin-top: 20px;
}
table.table.table-property thead th {
  background: #dae0e5;
  vertical-align: middle;
  
}
table.table.table-property thead th.rowTotalHead-rent {
  background: #fdeba6;
}
table.table.table-property thead th.rowTotalHead-sell {
  background: #94e0fa;
}
table.table.table-property thead th.rowTotalHead {
  background: #b7e1c3;
}
table.table.table-property thead th.tableHeadFirst {
  padding: 5px;
  border-bottom: 0;
  text-decoration: underline;
  text-align: center;
}
table.table.table-property thead th.tableHeadSecond {
  border-top: 0;
  text-align: center;
}
table.table.table-property th {
  font-size: 12px;
  white-space: nowrap;

}
table.table-property td {
  font-size: 14px;
}
table.table-property td.td-price {
  text-align: center;
}
table.table-property td.rowTotal-rent {
  background: #fffae1;
}
table.table-property td.rowTotal-sell {
  background: #f0fbff;
}
table.table-property td.rowTotal {
  background: #f1fdf8;
  color: #1c7430;
}
table.table-property td.table-subtotal-title{
 text-align: right;
 font-weight: bold;
}
table.table-property td.table-subtotal{
 font-weight: bold;
  color: #1c7430;
}
table.table-property tr.row-total td{
   font-weight: bold;
}
table.table-property td.table-subtotal-rent{

  background: #fff7cf;
}
table.table-property td.table-subtotal-sell{

  background: #cff4ff;
}
table.table-property td.table-total{

  background: #dbecc2;
}
table.table-property span {
  font-size: 12px;
}
table.table-property span.statusAlert {
  color: #FF0000;
}

.table-hover tbody tr.customer-record:hover {

  background-color: #d1ecf1;
}
.customerInfo {
  margin-top: 20px;
  background: #eeeeee;
  padding: 10px;
  font-size: 14px;
}
.customerInfo:before, .customerInfo:after {
  display: table;
  content :"";
  clear: both;
}
.customerInfo h6 {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 8px;
}
.customerInfo .row div {
  float: left;
}
.customerInfo span {
  font-size: 12px;
}
.noRecord-box {
  padding: 30px;
  margin: 20px 0;
  border: 1px dashed #aaaaaa;
  text-align: center;
}
.report-wrapper {
  padding: 5px; 
  border : 1px solid #e3e3e3;
  clear:both; 
  margin: 20px 0;
}
.report-wrapper .customerInfo {
  margin-top: 0;
}
.report-wrapper table.table-property {
  margin-top: 5px;
}